n8n/workflows/compositing-agent.json
{
  "name": "Compositing Sub-workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "notes": "Receives full pipeline data: campaignId, brief, brandProfile, pipelineState (with imageGeneration.imageUrls/assetIds and copywriter.variants)"
    },
    {
      "parameters": {
        "jsCode": "// Send Progress: Active\n// Notify Next.js that compositing has started\n\nconst crypto = require('crypto');\n\nconst input = $input.first().json;\nconst callbackUrl = $env.NEXTJS_CALLBACK_URL;\nconst secret = $env.N8N_WEBHOOK_SECRET;\n\nconst payload = {\n  campaignId: input.campaignId,\n  status: 'progress',\n  pipelineVersion: 'v1.1',\n  agentStep: {\n    agentName: 'compositing',\n    labelJa: '\\u30c6\\u30ad\\u30b9\\u30c8\\u5408\\u6210\\u4e2d',\n    status: 'active',\n    startedAt: new Date().toISOString()\n  }\n};\n\nconst body = JSON.stringify(payload);\nconst signature = crypto\n  .createHmac('sha256', secret)\n  .update(body)\n  .digest('hex');\n\ntry {\n  await fetch(callbackUrl, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'X-Signature': signature },\n    body\n  });\n} catch (err) {\n  console.warn('[compositing] Progress callback failed:', err.message);\n}\n\nreturn [{ json: input }];"
      },
      "id": "progress-active",
      "name": "Send Progress: Active",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "// Build Request for Internal Composite API\n// Extracts image assets from previous generation step and first copy variant (A)\n\nconst crypto = require('crypto');\n\nconst input = $input.first().json;\nconst pipelineState = input.pipelineState;\nconst secret = $env.N8N_WEBHOOK_SECRET;\nconst baseUrl = $env.NEXTJS_BASE_URL;\n\n// Get image assets from generation step\nconst imageGeneration = pipelineState.imageGeneration || {};\nconst imageUrls = imageGeneration.imageUrls || [];\nconst assetIds = imageGeneration.assetIds || [];\n\nif (imageUrls.length === 0) {\n  // No images to composite\n  return [{\n    json: {\n      ...input,\n      skipCompositing: true,\n      skipReason: 'No generated images available'\n    }\n  }];\n}\n\n// Build image assets array\nconst imageAssets = imageUrls.map((url, i) => ({\n  assetId: assetIds[i] || `gen-${i}`,\n  url: url,\n  width: 1024,\n  height: 1024\n}));\n\n// Get first copy variant (A) for compositing\nconst copywriterOutput = pipelineState.copywriter;\nlet copyVariant = {\n  headline: '',\n  bodyText: '',\n  ctaText: ''\n};\n\nif (copywriterOutput?.variants && copywriterOutput.variants.length > 0) {\n  // Find A variant, or use first available\n  const aVariant = copywriterOutput.variants.find(v => v.variantLabel === 'A\\u6848') || copywriterOutput.variants[0];\n  copyVariant = {\n    headline: aVariant.headline,\n    bodyText: aVariant.body,\n    ctaText: aVariant.cta\n  };\n} else {\n  // No copy variants -- skip compositing\n  return [{\n    json: {\n      ...input,\n      skipCompositing: true,\n      skipReason: 'No copy variants available for compositing'\n    }\n  }];\n}\n\nconst requestBody = {\n  campaignId: input.campaignId,\n  imageAssets,\n  copyVariant,\n  brandProfile: {\n    fontPreference: input.brandProfile.fontPreference || 'noto_sans_jp',\n    colors: input.brandProfile.colors || null,\n    logoUrl: input.brandProfile.logoUrl || null\n  }\n};\n\nconst bodyStr = JSON.stringify(requestBody);\nconst signature = crypto\n  .createHmac('sha256', secret)\n  .update(bodyStr)\n  .digest('hex');\n\nreturn [{\n  json: {\n    ...input,\n    skipCompositing: false,\n    apiUrl: `${baseUrl}/api/internal/composite`,\n    requestBody: bodyStr,\n    hmacSignature: signature\n  }\n}];"
      },
      "id": "build-request",
      "name": "Build Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "// Check if compositing should be skipped\n\nconst input = $input.first().json;\n\nif (input.skipCompositing) {\n  return [{\n    json: {\n      ...input,\n      compositingResult: {\n        compositedCount: 0,\n        skipped: true,\n        reason: input.skipReason\n      }\n    }\n  }];\n}\n\nreturn [{ json: input }];"
      },
      "id": "check-skip",
      "name": "Check Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.apiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.hmacSignature }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.requestBody }}",
        "options": {
          "timeout": 120000,
          "fullResponse": true
        }
      },
      "id": "call-api",
      "name": "Call Internal API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse Response from Internal Composite API\n\nconst input = $input.first().json;\nconst pipelineData = $node['Check Skip'].json;\n\n// Check if compositing was skipped\nif (pipelineData.compositingResult?.skipped) {\n  return [{ json: pipelineData }];\n}\n\n// Check for HTTP errors\nif (input.statusCode && input.statusCode !== 200) {\n  const errorBody = typeof input.body === 'string' ? JSON.parse(input.body) : input.body;\n  return [{\n    json: {\n      ...pipelineData,\n      compositingResult: {\n        compositedCount: 0,\n        error: errorBody?.error || `HTTP ${input.statusCode}`,\n        skipped: false\n      }\n    }\n  }];\n}\n\nlet responseBody;\ntry {\n  responseBody = typeof input.body === 'string' ? JSON.parse(input.body) : input.body;\n} catch (e) {\n  responseBody = input;\n}\n\nreturn [{\n  json: {\n    ...pipelineData,\n    compositingResult: {\n      compositedCount: responseBody.compositedCount || 0,\n      imageCount: responseBody.imageCount || 0,\n      skipped: false\n    }\n  }\n}];"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "jsCode": "// Send Progress: Complete\n\nconst crypto = require('crypto');\n\nconst input = $input.first().json;\nconst callbackUrl = $env.NEXTJS_CALLBACK_URL;\nconst secret = $env.N8N_WEBHOOK_SECRET;\n\nconst result = input.compositingResult;\n\nconst payload = {\n  campaignId: input.campaignId,\n  status: 'progress',\n  pipelineVersion: 'v1.1',\n  agentStep: {\n    agentName: 'compositing',\n    labelJa: '\\u30c6\\u30ad\\u30b9\\u30c8\\u5408\\u6210\\u4e2d',\n    status: result.error ? 'failed' : 'complete',\n    summaryJa: result.error\n      ? `\\u5408\\u6210\\u5931\\u6557: ${result.error}`\n      : result.skipped\n        ? '\\u5408\\u6210\\u30b9\\u30ad\\u30c3\\u30d7\\uff08\\u753b\\u50cf\\u306a\\u3057\\uff09'\n        : `${result.compositedCount}\\u30ec\\u30a4\\u30a2\\u30a6\\u30c8\\u5408\\u6210\\u5b8c\\u4e86`,\n    completedAt: new Date().toISOString()\n  }\n};\n\nconst body = JSON.stringify(payload);\nconst signature = crypto\n  .createHmac('sha256', secret)\n  .update(body)\n  .digest('hex');\n\ntry {\n  await fetch(callbackUrl, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'X-Signature': signature },\n    body\n  });\n} catch (err) {\n  console.warn('[compositing] Progress callback failed:', err.message);\n}\n\n// Return updated pipeline state\nconst updatedPipelineState = {\n  ...input.pipelineState,\n  compositing: {\n    compositedCount: result.compositedCount || 0,\n    skipped: result.skipped || false,\n    error: result.error || undefined\n  }\n};\n\nreturn [{\n  json: {\n    ...input,\n    pipelineState: updatedPipelineState\n  }\n}];"
      },
      "id": "progress-complete",
      "name": "Send Progress: Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          { "node": "Send Progress: Active", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Progress: Active": {
      "main": [
        [
          { "node": "Build Request", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Request": {
      "main": [
        [
          { "node": "Check Skip", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Skip": {
      "main": [
        [
          { "node": "Call Internal API", "type": "main", "index": 0 }
        ]
      ]
    },
    "Call Internal API": {
      "main": [
        [
          { "node": "Parse Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          { "node": "Send Progress: Complete", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Compositing sub-workflow. Receives PipelineState with generated image URLs and copy variants, calls internal /api/internal/composite endpoint to overlay Japanese text, sends progress callbacks. Returns updated PipelineState with compositing results.",
    "templateCredsSetupCompleted": true,
    "instanceId": "ai-content-studio"
  }
}
