n8n/workflows/copywriter-agent.json
{
  "name": "Copywriter Agent - Sub-workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// Send Progress: Active\n// POST agentStep callback to Next.js with HMAC signature\n\nconst crypto = require('crypto');\n\nconst input = $input.first().json;\nconst callbackUrl = $env.NEXTJS_CALLBACK_URL;\nconst secret = $env.N8N_WEBHOOK_SECRET;\n\nif (!callbackUrl || !secret) {\n  console.warn('Missing NEXTJS_CALLBACK_URL or N8N_WEBHOOK_SECRET for progress callback');\n  return [{ json: input }];\n}\n\nconst payload = {\n  campaignId: input.campaignId,\n  status: 'progress',\n  pipelineVersion: 'v1.1',\n  agentStep: {\n    agentName: 'copywriter',\n    labelJa: '\\u30b3\\u30d4\\u30fc\\u30e9\\u30a4\\u30c6\\u30a3\\u30f3\\u30b0\\u4e2d',\n    status: 'active',\n    startedAt: new Date().toISOString()\n  }\n};\n\nconst body = JSON.stringify(payload);\nconst signature = crypto\n  .createHmac('sha256', secret)\n  .update(body)\n  .digest('hex');\n\ntry {\n  const response = await fetch(callbackUrl, {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'X-Signature': signature\n    },\n    body\n  });\n  if (!response.ok) {\n    console.warn(`Progress callback failed: HTTP ${response.status}`);\n  }\n} catch (err) {\n  console.warn(`Progress callback error: ${err.message}`);\n}\n\nreturn [{ json: input }];"
      },
      "id": "progress-active",
      "name": "Send Progress - Active",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXTJS_BASE_URL }}/api/internal/build-prompt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Signature",
              "value": "={{ (function() { const crypto = require('crypto'); const body = JSON.stringify({ agentName: 'copywriter', brief: $json.brief, brandProfile: $json.brandProfile, agentConfig: $json.agentConfig, mode: $json.mode, upstreamOutputs: { strategicInsight: $json.pipelineState.strategicInsight, creativeDirector: $json.pipelineState.creativeDirector } }); return crypto.createHmac('sha256', $env.N8N_WEBHOOK_SECRET).update(body).digest('hex'); })() }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agentName: 'copywriter', brief: $json.brief, brandProfile: $json.brandProfile, agentConfig: $json.agentConfig, mode: $json.mode, upstreamOutputs: { strategicInsight: $json.pipelineState.strategicInsight, creativeDirector: $json.pipelineState.creativeDirector } }) }}",
        "options": {
          "timeout": 10000,
          "fullResponse": false
        }
      },
      "id": "fetch-prompt",
      "name": "Fetch Prompt from Build-Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "onError": "continueRegularOutput",
      "notes": "Calls /api/internal/build-prompt with agentName 'copywriter' and upstreamOutputs (strategicInsight + creativeDirector). Endpoint handles register maps, platform norms, copywriting frameworks, and all domain knowledge from Phase 9.1 builders. NO inline prompt content."
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Anthropic API call\n// Merges build-prompt response with pipeline state for the HTTP Request node\n\nconst promptResponse = $input.first().json;\nconst triggerData = $('Execute Workflow Trigger').first().json;\n\n// Check if build-prompt fetch failed\nif (promptResponse.error || !promptResponse.systemPrompt) {\n  throw new Error('Build-prompt fetch failed: ' + (promptResponse.error || 'No systemPrompt in response'));\n}\n\n// Build the Anthropic API request body\nconst anthropicBody = {\n  model: triggerData.agentConfig?.copywriter?.model || 'claude-opus-4-6',\n  max_tokens: promptResponse.maxTokens,\n  temperature: promptResponse.temperature,\n  system: promptResponse.systemPrompt,\n  messages: [\n    {\n      role: 'user',\n      content: promptResponse.userMessage\n    }\n  ],\n  tools: [promptResponse.toolSchema],\n  tool_choice: promptResponse.toolChoice\n};\n\nreturn [{\n  json: {\n    anthropicBody,\n    // Carry forward pipeline data for downstream nodes\n    campaignId: triggerData.campaignId,\n    brief: triggerData.brief,\n    brandProfile: triggerData.brandProfile,\n    agentConfig: triggerData.agentConfig,\n    mode: triggerData.mode,\n    pipelineState: triggerData.pipelineState\n  }\n}];"
      },
      "id": "prepare-anthropic",
      "name": "Prepare Anthropic Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.anthropicBody) }}",
        "options": {
          "timeout": 180000,
          "fullResponse": false
        }
      },
      "id": "call-anthropic",
      "name": "Call Anthropic API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Anthropic API Key",
          "id": "anthropic-api"
        }
      },
      "notes": "Calls Anthropic API with tool-use (deliver_platform_copy). Timeout 180s for multiple platforms x 4 variants. Uses httpHeaderAuth credential (header: x-api-key). 1 silent retry. Partial-delivery: continues pipeline on failure."
    },
    {
      "parameters": {
        "jsCode": "// Parse Anthropic API Response\n// Extract tool_use content block from deliver_platform_copy tool call\n// Write to pipelineState.copywriter\n// Calculate cost entry from token usage\n//\n// PARTIAL-DELIVERY: If API call failed, mark agent as failed and continue pipeline\n\nconst response = $input.first().json;\nconst pipelineData = $('Prepare Anthropic Request').first().json;\n\n// Check for API error (partial-delivery pattern: don't halt pipeline)\nif (response.error || response.type === 'error') {\n  const errorMsg = response.error?.message || response.message || 'Anthropic API call failed';\n  \n  // Mark as failed in agentErrors but continue pipeline\n  const agentError = {\n    agentName: 'copywriter',\n    timestamp: new Date().toISOString(),\n    message: errorMsg,\n    retryAttempted: true,\n    retrySucceeded: false,\n    isCriticalStop: false\n  };\n  \n  const updatedPipelineState = {\n    ...pipelineData.pipelineState,\n    agentErrors: [...(pipelineData.pipelineState.agentErrors || []), agentError]\n  };\n  \n  return [{\n    json: {\n      campaignId: pipelineData.campaignId,\n      brief: pipelineData.brief,\n      brandProfile: pipelineData.brandProfile,\n      agentConfig: pipelineData.agentConfig,\n      mode: pipelineData.mode,\n      pipelineState: updatedPipelineState,\n      costEntry: null,\n      summaryJa: '',\n      agentFailed: true,\n      agentError\n    }\n  }];\n}\n\n// Find the tool_use content block\nconst toolUseBlock = response.content?.find(block => block.type === 'tool_use');\n\nif (!toolUseBlock) {\n  // No tool_use block: treat as partial delivery failure\n  const agentError = {\n    agentName: 'copywriter',\n    timestamp: new Date().toISOString(),\n    message: 'No tool_use block found in Anthropic response. Content types: ' + (response.content || []).map(b => b.type).join(', '),\n    retryAttempted: true,\n    retrySucceeded: false,\n    isCriticalStop: false\n  };\n  \n  const updatedPipelineState = {\n    ...pipelineData.pipelineState,\n    agentErrors: [...(pipelineData.pipelineState.agentErrors || []), agentError]\n  };\n  \n  return [{\n    json: {\n      campaignId: pipelineData.campaignId,\n      brief: pipelineData.brief,\n      brandProfile: pipelineData.brandProfile,\n      agentConfig: pipelineData.agentConfig,\n      mode: pipelineData.mode,\n      pipelineState: updatedPipelineState,\n      costEntry: null,\n      summaryJa: '',\n      agentFailed: true,\n      agentError\n    }\n  }];\n}\n\nconst toolInput = toolUseBlock.input;\n\n// Extract copy variants from tool_use response\nconst copywriter = {\n  variants: (toolInput.platforms || toolInput.variants || []).flatMap(platform => {\n    // Handle both flat variant arrays and per-platform groupings\n    if (platform.variants) {\n      return platform.variants.map(v => ({\n        platform: platform.platform || v.platform,\n        variantLabel: v.variantLabel,\n        headline: v.headline,\n        body: v.body,\n        cta: v.cta,\n        hashtags: v.hashtags || [],\n        register: v.register,\n        rationaleNotes: v.rationaleNotes || undefined\n      }));\n    }\n    // Flat variant (already includes platform)\n    return [{\n      platform: platform.platform,\n      variantLabel: platform.variantLabel,\n      headline: platform.headline,\n      body: platform.body,\n      cta: platform.cta,\n      hashtags: platform.hashtags || [],\n      register: platform.register,\n      rationaleNotes: platform.rationaleNotes || undefined\n    }];\n  })\n};\n\n// Calculate cost entry\nconst usage = response.usage || {};\nconst inputTokens = usage.input_tokens || 0;\nconst outputTokens = usage.output_tokens || 0;\n// Approximate cost in yen (Claude Opus: ~$15/1M input, ~$75/1M output, at ~150 JPY/USD)\nconst costYen = ((inputTokens * 15 / 1000000) + (outputTokens * 75 / 1000000)) * 150;\n\nconst costEntry = {\n  entryType: 'agent',\n  agentName: 'copywriter',\n  modelUsed: response.model || 'claude-opus-4-6',\n  inputTokens,\n  outputTokens,\n  costYen: Math.round(costYen * 100) / 100,\n  success: true\n};\n\n// Update pipelineState\nconst updatedPipelineState = {\n  ...pipelineData.pipelineState,\n  copywriter\n};\n\nreturn [{\n  json: {\n    campaignId: pipelineData.campaignId,\n    brief: pipelineData.brief,\n    brandProfile: pipelineData.brandProfile,\n    agentConfig: pipelineData.agentConfig,\n    mode: pipelineData.mode,\n    pipelineState: updatedPipelineState,\n    costEntry,\n    summaryJa: toolInput.summaryJa || '',\n    agentFailed: false\n  }\n}];"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "jsCode": "// Send Progress: Complete or Failed + Cost Entry\n// POST agentStep completion/failure and cost data to Next.js\n// Partial-delivery: sends 'failed' status if agent failed, pipeline continues\n\nconst crypto = require('crypto');\n\nconst input = $input.first().json;\nconst callbackUrl = $env.NEXTJS_CALLBACK_URL;\nconst secret = $env.N8N_WEBHOOK_SECRET;\n\nif (!callbackUrl || !secret) {\n  console.warn('Missing NEXTJS_CALLBACK_URL or N8N_WEBHOOK_SECRET for progress callback');\n  return [{ json: input }];\n}\n\nconst agentFailed = input.agentFailed === true;\n\nconst payload = {\n  campaignId: input.campaignId,\n  status: 'progress',\n  pipelineVersion: 'v1.1',\n  agentStep: {\n    agentName: 'copywriter',\n    labelJa: '\\u30b3\\u30d4\\u30fc\\u30e9\\u30a4\\u30c6\\u30a3\\u30f3\\u30b0\\u4e2d',\n    status: agentFailed ? 'failed' : 'complete',\n    summaryJa: agentFailed ? '\\u30b3\\u30d4\\u30fc\\u751f\\u6210\\u5931\\u6557' : (input.summaryJa || ''),\n    completedAt: new Date().toISOString()\n  },\n  costEntries: input.costEntry ? [input.costEntry] : [],\n  agentError: agentFailed ? input.agentError : undefined\n};\n\nconst body = JSON.stringify(payload);\nconst signature = crypto\n  .createHmac('sha256', secret)\n  .update(body)\n  .digest('hex');\n\ntry {\n  const response = await fetch(callbackUrl, {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'X-Signature': signature\n    },\n    body\n  });\n  if (!response.ok) {\n    console.warn(`Progress callback failed: HTTP ${response.status}`);\n  }\n} catch (err) {\n  console.warn(`Progress callback error: ${err.message}`);\n}\n\n// Return updated pipeline data (without internal fields)\nreturn [{\n  json: {\n    campaignId: input.campaignId,\n    brief: input.brief,\n    brandProfile: input.brandProfile,\n    agentConfig: input.agentConfig,\n    mode: input.mode,\n    pipelineState: input.pipelineState\n  }\n}];"
      },
      "id": "progress-complete",
      "name": "Send Progress - Complete/Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          { "node": "Send Progress - Active", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Progress - Active": {
      "main": [
        [
          { "node": "Fetch Prompt from Build-Prompt", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Prompt from Build-Prompt": {
      "main": [
        [
          { "node": "Prepare Anthropic Request", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Anthropic Request": {
      "main": [
        [
          { "node": "Call Anthropic API", "type": "main", "index": 0 }
        ]
      ]
    },
    "Call Anthropic API": {
      "main": [
        [
          { "node": "Parse Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          { "node": "Send Progress - Complete/Failed", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "meta": {
    "description": "Copywriter Agent sub-workflow. Receives PipelineState (with strategicInsight + creativeDirector populated) from Master Orchestrator, calls /api/internal/build-prompt for prompt serialization (register maps, platform norms, copywriting frameworks), calls Anthropic API with tool-use (deliver_platform_copy), generates 4 copy variants (A-D) per platform with correct register. Partial-delivery agent: pipeline continues if this fails, error logged to agentErrors.",
    "templateCredsSetupCompleted": true,
    "instanceId": "ai-content-studio",
    "notes": "IMPORT INSTRUCTIONS: 1) Ensure Anthropic API Key credential exists (httpHeaderAuth with header 'x-api-key'), 2) Ensure NEXTJS_BASE_URL and NEXTJS_CALLBACK_URL env vars are set, 3) This workflow is called by Master Orchestrator via Execute Sub-workflow node, running in parallel with Art Director after Creative Director."
  }
}
